.member-intro {
  font-size: medium;
  background-color: #f0f8ff;
  border-radius: 10px;
  padding: 5px;
}

.member-contents {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* 리스트 스타일 */
.pair-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pair-list li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6495ed;
  box-shadow: 10px 5px 5px lightgray;
}

/* 버튼 스타일 */
.click-btn {
  --c: #6495ed;
  color: var(--c);
  font-size: 16px;
  border: 0.2em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  line-height: 10px;
}

.click-btn span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.click-btn:hover {
  color: gold;
  border-color: var(--c);
}

.click-btn:hover span {
  transform: translateY(0) scale(2);
}

.click-btn span:nth-child(1) {
  --n: 1;
}

.click-btn span:nth-child(2) {
  --n: 2;
}

.click-btn span:nth-child(3) {
  --n: 3;
}

.click-btn span:nth-child(4) {
  --n: 4;
}
